<%- include('partials/header'); -%>

    <div class='padding-section'>
        <h1>Song of the day!</h1>
        <div>
            <h3><%=body.tracks[0].name%></h3>
        </div>
    </div>


    <%- include('partials/footer'); -%>